@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: 'Amatic Sc', cursive;
  /* background-color: #020202; */
  
}

body {
  background-color: rgb(130, 130, 223);
}

.container {
  width: 100vw;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto;
  padding: 2rem;
  color: white;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 8rem;
  font-weight: bolder;
}

p {
  font-size: 3rem;
}

.btn {
  font-size: 2.8rem;
  padding: 1rem 0;
  width: 30rem;
  text-align: center;
  margin-top: 1.4rem;
  border-radius: 4px;
  color: white;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px 3px black;
  transition: transform 150ms;
  transform: scale(1.03);
}

.btn:active {
  background-color: blue;
  
}

.main-container {
  width: 100vw;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 0 ;
  
}

.game-container {
  width: 800px;
  min-width: 80%;
  max-width: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#questions {
  font-size: 15rem;
}

button {
  background-color: black;
  margin: 2rem;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}